.table-wrapper {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  .table-container {
    max-width: 100%; /* Ensure table does not exceed container width */
  }
  
  .table {
    width: 100%; /* Make table responsive */
    table-layout: auto; /* Adjust column width based on content */
  }
  