/* .questionBox {
    padding: 1rem;
    border: 3px solid #4a4a4a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.questionBoxHeader {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.questionNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    line-height: 40px;
}

.questionNumber:hover {
    background-color: #007bff;
    color: #fff;
}

.selectedQuestion {
    background-color: #007bff;
    color: #fff;
}

.answeredQuestion {
    background-color: #18e849;
    color: #155724;
    border: 1px solid #c3e6cb; 
} */
