.BtnOne{
    height: 50px;
    font-size: 28px;
    
}
.BtnOne:hover{

}
.img_responsive {
    width: 55px;
    display: none;
  }
  .drower{
    display: none;
  }
  .first{
    display: none;
  }
  @media (min-width: 1200px) { /* or use a breakpoint matching your needs */
    .img_responsive {
      display: block;
    }
    .drower{
        display: block;
      }
      .first{
        display: block;
      } 
  }