.BtnOne{
    height: 50px;
    font-size: 18px;
   
}
.first{
    width: 420px;
    height: 70px;
    background: #209CFF;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 10px;
}
.BtnOne{
    display: flex;
    width: 350px;
}
