.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
  }
  
  .content {
    max-width: 600px; /* Optional: limit the width of the content */
    margin: 0 auto;
  }
  