.zoom-effect {
    width: 200px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .zoom-effect:hover {
    transform: scale(1.1); /* Increase the scale factor for a stronger zoom in effect */
    color: #000; /* Ensure text color remains unchanged on hover */
  }
  .backgd {
    background-color: rgb(240 242 248);
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.186), rgba(0, 0, 0, 0.335)), url('../../../assets/images/top-view-arrangement-with-gadgets-copy-space.jpg'); */
    /* Optionally, you can add more background properties */
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; 

  /* Centers the background image */
  }
  .backbg{
    background-color: #A1D6E2;
    border-radius: 25px;
    box-shadow: 0px -1px 6px rgb(0 0 0 / 40%);
    margin-left: 9vh;
  }
  .hedermap{
    box-shadow: 0px -1px 6px rgb(0 0 0 / 40%);
  }
  /* Notification Secction Start  */
  
  /* Notification Secction End  */
  /* media qury start  */
  .drower{
    display: none;
  }
  @media (min-width: 600px) { 
    .drower{
      display: block;
    } 
  }
