.scrolling_text_container{
    overflow: hidden;
    white-space: nowrap;
}
.scrolling_text_container p {
    animation: marquee 30s linear infinite;
    
}
@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}
.scrolling_text_container p:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}