.attendance-calendar .react-calendar__tile {
    position: relative;
    padding: 10px;
    text-align: center;
    box-sizing: border-box; /* Ensure padding does not affect positioning */
}

.present-day {
    background-color: rgba(0, 128, 0, 0.1); /* Light green background */
}

.absent-day {
    background-color: rgba(255, 0, 0, 0.1); /* Light red background */
}

.attendance-status-wrapper {
    position: absolute;
    bottom: 5px; /* Adjust spacing from the bottom */
    right: 5px;  /* Adjust spacing from the right */
    width: auto; /* Adjust width to fit content */
    display: flex;
    flex-direction: column; /* Stack statuses vertically */
    align-items: center; /* Center horizontally */
    padding: 2px;
    box-sizing: border-box; /* Ensure padding does not affect positioning */
}

.attendance-status {
    font-size: 1.2em;
    display: flex;
    align-items: center; /* Center vertically */
}

.status-icon {
    font-weight: bold;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    margin: 1px; /* Small margin between icons */
    display: inline-block;
}

.present .status-icon {
    background-color: green;
    color: white;
    
}

.absent .status-icon {
    background-color: red;
    color: white;
}
