.max-height-img {
    max-height: 610px;
    object-fit: cover;
    /* opacity: 0.7; */
    filter: brightness(0.50)
    
  }
  .buttonclick{
    background-color:#1976d2;
    width: 140px;
    height: 43px;
    border-radius: 5px;
    color: white;
    border: none;
    text-shadow: 1px 0px 0px black;
  }
  .carousel-caption {
    width: 500px;
    left: 15%;
    top: 50% !important;
    transform: translateY(-50%);
    text-align: left;
    bottom: initial;
    }
    