.navLinkItem{
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate3d(0px, 35.3333px, 0px);
    background-color:#1976d2;
    border: none;
}
 .dropMenu{
    color: white;
    border: none;
}
.dropMenu:hover{
color: orange;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
color: orange;

}
