

.btn:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(252, 151, 0);
    transition: 0.4s linear;
  }
  .btn:hover:before{
    width: 90%;
  }

  .apbartrans{
  background-color: transparent;
  box-shadow: none;
     
  }
  .scrollingcolor{
    background-color:black;
  }
