.modalOverlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-top: 10%;
  }
  
  .addButton {
    background: #6a11cb;
    color: white;
    border: none;
    padding: 2px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .addButton:hover {
    background: #2575fc;
  }
  
  .closeButton {
    background: #ff5f5f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
  }
  